<div class="container" id="left-nav">
    <div class="row title">
      <h1 class="nav-content">BlocChat</h1>
    </div>
    
    <div class="row nav-content">
      <p class="chat-rooms-title">ROOMS</p>
      <div ng-repeat="room in home.rooms">
        <div class="chat-rooms" ng-click="home.setCurrentRoom(room)">: {{room.$value}}</div>
      </div>
    </div>
      
    <div class="row nav-content">
      <button class="btn btn-block btn-create" ng-click="home.open()">New Chat Room</button>
    </div>      
  </div>
</div>

<div ng-if="home.currentRoom == null">
  <div class="splash-page">
    <h2 class="splash-page-header title"> Say Something</h2>
    <h1 class="splash-logo title"> with BlocChat</h1>
    <p class="splash-text">Select a room. Or create a new one.</p>
  </div>
</div>

<div ng-if="home.currentRoom !== null">
  <div class="chat-container">
    <ul class="chat-window">
        <div class="chat-title">
      <h3>{{ home.currentRoom.$value }}</h3>
    </div>
      <li ng-repeat="message in home.messages" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()" >
        <div ng-class-odd="'dark'" ng-class-even="'light'">
          <div class="chat-messages">
            <div class="username">{{ message.username }}</div>
            <div class="message">{{ message.content }}</div>
            <div ng-show="timestamp" class="timestamp">{{ message.sentAt | date:'h:mm a' }}</div>
          </div>
        </div>
      </li>
    </ul>
    
    <form class="chat-input chat-messages" name="messageForm" ng-submit="home.sendMessage()">
      <input type="text" name="messageInput" ng-model="home.newMessage.content" autofocus>
      <input type="submit"></input>
    </form>
  </div>
</div>
