<div class="container-fluid">
  <div class="modal-wrapper">
    <div class="row">
      <div class="col modal-title">
        <h2>Create Room</h2>
      </div>
    </div>
    
    <div class="row modal-input">
      <div class="col">
        <form name="newRoomForm">
          <input class="form-control" type="text" placeholder="Name your room" name="roomName" ng-model="newRoomName" ng-minlength="1" ng-maxlength="100" required>
        </form>
      </div>
    </div>
      
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-secondary" type="button" ng-click="$ctrl.cancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>
